 /*shapes*/

 .shape{
    border: 5px solid rgba(0,0,0,0.8);
    z-index: -1;
    
}

 #blue_bar{
    width: 65%;
    height: 6em;
    bottom: 22em;
    background-color: rgb(10, 10, 114, 1);
    z-index: -5;
    content: "";
    animation: arrive_blue 3s;
    position: relative;
}

#yellow-circle{
    height: 16em;
    width: 16em;
    left: 75%;  
    top: 24em;
    position: relative;
    border-radius: 300px;
    background-color: hsl(60, 100%, 50%);
    content: "";
    animation: arrive_yellow 3s; 
    /* animation: arrive_yellow_two 1s linear 2s;          */
  
} 

/* 
@keyframes arrive_yellow {
    from {
        top: 0;
    }	
    to {
        top: 20%;
    }
}

@keyframes arrive_blue {
    from {
        transform: rotate(90deg);
    }	
    to {
        transform: rotate(0);
    }
}

@keyframes arrive_green {
    from {
        left: 0;
    }	
    to {
        left: 65%;
    }
} */

#green_square {
    height: 14rem;
    width: 14rem;
    content: "";
    background-color: rgba(0,128,0,1);
    transform: rotate(45deg);
    animation: arrive_green 3s;
    position: relative;
    bottom: 12em;
    z-index: -8;
}

#red_square {
    height: 14em;
    width: 12em;
    content: "";
    background-color: rgb(253, 4, 4);
    position: relative;
    z-index: -2;
}
